<settings>

  <servers>

    <server>
      <id>central</id>
      <username>admin</username>
      <password>Fullclip#7711</password>
    </server>

    <server>
      <id>snapshots</id>
      <username>admin</username>
      <password>Fullclip#7711</password>
    </server>

  </servers>

</settings>

<mirrors>
  <mirror>
    <id>allow-http</id>
    <mirrorOf>*</mirrorOf>
    <url>http://0.0.0.0/</url>
    <blocked>false</blocked>
  </mirror>
</mirrors>
